/* This file is for your main application css. */

@import "bootstrap";

h1 {
  text-align: center;
  color: #999999;
}

h2 {
  color: #00CCCC;
}

#button {
  margin-top: 11px;
}

body {
  font-size: 30px;
}
